<ol class="microposts">
<% @tweets.each do |t| %>
	<li>
		<span class="content"><%= t.text %></span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(t.created_at) %> ago.
		</span>
	</li>
<% end %>
</ol>
