<a href="http://weibo.com/u/3547883770" target="_blank">新浪微博</a><br />
<a href="http://weibo.com/jameswang81" target="_blank">个人新浪微博</a><br /> 
<a href="https://twitter.com/James_Wang_" target="_blank">Twitter</a> 
