	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to 'Roger Fans', '#', id: 'logo' %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to 'Videos',		'videos'	 %></li>
						<li><%= link_to '简体中文',		'videos'	 %></li>
						<li><%= link_to 'English',		'videos'	 %></li>
					</ul>
				</nav>
			</div>
		</div>	
	</header>
