	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to (t :site_name), root_path, id: 'logo' %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to (t :videos),	videos_path	 %></li>
						<li><%= link_to '简体中文',		root_path(locale: 'zh-CN') %></li>
						<li><%= link_to 'English',		root_path(locale: 'en') %></li>
					</ul>
				</nav>
			</div>
		</div>	
	</header>
